<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>
<link rel="shortcut icon" href="images/icon.png">
<link rel="stylesheet" type="text/css" href="css/{{style}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
<script src="jquery/{{jquery}}"></script>			   
</head>
<body style="background-color: #252526;">
    {{{ body }}}
</body>
<script src="js/{{script}}"></script>
</html>